.footer {
    align-items: center;
    border-top: 3px solid $blue;
    bottom: 0;
    height: 49px;
    justify-content: space-evenly;
    left: 0;
}

.footer__line-divisor {
    background-color: $blue;
    height: 50px;
    width: 3px;
}

.footer__link-container {
    align-items: center;
    gap: 15px;

    i {
        font-size: 25px;
    }

    &:hover {
        color: $blue;
        transform: scale(1.1);
    }
}
