.header__container {
    align-items: center;
    border-bottom: solid 3px $blue;
    font-size: 18px;
    height: 10vh;
    justify-content: space-around;
    top: 0;
    width: 100%;
}

.header__name {
    font-size: 35px;
}

.header__nav {
    justify-content: center;

    a {
        border-bottom: solid $light 3px;
        margin: 10px;
        outline: none;
        transition: all ease-in-out 0.3s;

        &:hover {
            border-bottom: solid $orange 3px;
            color: $orange;
            cursor: pointer;
        }

        @include screen-768 {
            margin: auto 15px;
        }
    }

    @include screen-600 {
        display: flex;
    }
}
