.main-text {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
}

.main-text h1 {
    font-size: 50px;
}

.main-text h1 span {
    color: var(--pink-color);
    margin: 0 10px;
}

.main-text a {
    text-align: right;
}

@media(min-width: 468px) {
    .main-text {
        width: 80%;
    }
    .main-text h1 {
        font-size: 65px;
    }
}

@media(min-width: 768px) {
    .main-text {
        width: 60%;
    }
    .main-text h1 {
        font-size: 80px;
    }
}