/* GLOBAL CSS */

:root {
    --blue-color: #333399;
    --gray-color: #252525;
    --orange-color: #ff6803; 
    --pink-color: #ef0f73;
    --roboto: 'Roboto', sans-serif;
    --lobster: 'Lobster', cursive;
}

/* ****************** */
a {
    text-decoration: none;
    color: black;   
}

.center-xy {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blue-background {
    background-color: var(--blue-color);
}
.orange-background {
    background-color: var(--orange-color);
}
.pink-background {
    background-color: var(--pink-color);
}

.gray-text {
    color: var(--gray-color);
}

.width-cover {
    width: 100%;
}

.text-center {
    text-align: center;
}

.lobster {
    font-family: var(--lobster);
}

.roboto {
    font-family: var(--roboto);
}

.bold {
    font-weight: bold;
}
