.resume__container {
    background-color: transparent;
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.resume {
    background-color: $light;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.54);
    height: 70vh;
    max-width: 1100px;
    overflow: scroll;
    width: 95%;
    z-index: -50;
}

.resume__content {
    grid-template-columns: 312px 623px;
    margin: 100px auto;
    width: 90%;
}

.resume__personal-info-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume__info-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    width: 100%;

    h1 {
        font-size: 60px;
        font-weight: bold;
    }
}

.resume-info-card {

    h1 {
        border-bottom-width: 5px;
        border-bottom: 3px solid purple;
        font-size: 25px;
        position: relative;
    }
}

.resume__technologies {
    grid-template-columns: repeat(2, 1fr);

    p {
        margin: 10px 0;
    }
}

.resume__right-circle {
    border-radius: 0 0 0 150px;
    height: 150px;
    right: 0;
    width: 150px;

    @include screen-1200 {
        display: block;
    }
}

.resume__bottom-rectangle {
    height: 100px;
    top: 250%;
    width: 100%;

    @include screen-1200 {
        display: block;
    }
}


.resume__vertical-lines-container {
    gap: 100px;
    justify-content: space-between;
    left: 150px;
    top: 0;

    div {
        background-color: $blue;
        height: 475px;
        width: 3px;
    }
}

.resume__horizontal-lines-container {
    flex-direction: column;
    gap: 100px;
    top: 175px;

    div {
        background-color: $blue;
        height: 3px;
        width: 400px;
    }
}

.resume__name {
    border-radius: 5px;
    height: 312px;
    width: 100%;
    
    h1 {
        font-size: 65px;
        margin: 0;
    }
}