::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: $light;
}

::-webkit-scrollbar-thumb {
    background: $blue;
}

::-webkit-scrollbar-thumb:hover {
    background: $blue;
}

a {
    text-decoration: none;
    color: $dark;
}

img {
    max-width: 100%;
}

.active-link,
.active-link::visited {
    border-bottom: solid $blue 3px;
    color: $blue;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.center-abs-xy {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center-x {
    margin: auto;
}

.flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.blue-bk {
    background-color: $blue;
}

.light-bk {
    background-color: $light;
}

.orange-bk {
    background-color: $orange;
}

.pink-bk {
    background-color: $pink;
}

.yellow-bk {
    background-color: $yellow;
}

.blue-text {
    color: $blue
}

.gray-text {
    color: $gray;
}

.text-center {
    text-align: center;
}

.lobster {
    font-family: $lobster;
}

.roboto {
    font-family: $roboto;
}

.remove-scrollbar-parent {
    overflow: hidden;
}

.remove-scrollbar-children {
    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.shadow {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.54);
}

.transition {
    transition: $transition;
}

.width-100 {
    width: 100%;
}