a {
    text-decoration: none;
    color: $dark;
}

.active-link,
.active-link::visited {
    border-bottom: solid $blue 3px;
    color: $blue;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

.center-abs-xy {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.blue-bk {
    background-color: $blue;
}

.orange-bk {
    background-color: $orange;
}

.pink-bk {
    background-color: $pink;
}

.gray-text {
    color: $gray;
}

.text-center {
    text-align: center;
}

.lobster {
    font-family: $lobster;
}

.roboto {
    font-family: $roboto;
}

.transition {
    transition: $transition;
}

.width-100 {
    width: 100%;
}