$blue:      #333399;
$dark:      #000;
$gray:      #252525;
$light:     #FFF;
$orange:    #FF6803; 
$pink:      #EF0F73;

$lobster: 'Lobster', cursive;
$roboto: 'Roboto', sans-serif;

$transition: all ease-in 0.3s;

$screen-1200:   1200px;
$screen-480:    480px;
$screen-600:    600px;
$screen-768:    768px;
$screen-900:    900px;
