.anim {
    animation-iteration-count: infinite;
    animation-name: raining;
    position: fixed;
    top: -100px;
}

.shape {
    height: 50px;
    width: 50px;
}

.circle {
    border-radius: 50%;
}

.triangle {
    border-bottom: 50px solid;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 0;
}

@keyframes raining {
    0% {
        opacity: 0;
        top: 10px;
    }
    50% {
        transform: rotate(360deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}
