.anim {
    animation-name: raining;
    position: fixed;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    top: -100px;
}

.shape {
    height: 50px;
    width: 50px;
}

.circle {
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid;
}

@keyframes raining {
    0% {
        top: -100px;
        opacity: 0.9;
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        top: 100%;
        opacity: 0;
    }
}
